/*
TODO: read colors from config file
*/

//COLOR SCHEMES


///*
//dark
$theme-bg:      #161d2d;
$theme-bg-2:    #222A3E;
$theme-bg-3:    #252d46;
$theme-bg-4:    #1c243a;
$theme-bg-5:    #18213b;
$theme-black:   #1a130fde;
$theme-accent-1:#ffc421;
$theme-accent-2:#ffd664;
$theme-accent-3:#e0a606;
$theme-text-1:  #839eb7;
$theme-text-2:  #515c77;
//*/

/*
//light
$theme-bg:      #161d2d;
$theme-bg-2:    #222A3E;
$theme-bg-3:    #252d46;
$theme-bg-4:    #1c243a;
$theme-bg-5:    #18213b;
$theme-black:   #1a130fde;
$theme-accent-1:#ffc421;
$theme-accent-2:#ffd664;
$theme-accent-3:#e0a606;
$theme-text-1:  #839eb7;
$theme-text-2:  #515c77;
*/



//COLORS
$color-bg: $theme-bg;
$color-accent: $theme-accent-1;
$color-accent-hover: $theme-accent-2;
$color-accent-click: $theme-accent-3;
$color-text-unselected: $theme-text-1;  

$color-searchbar: $theme-text-2;
$color-searchbar-icon: $theme-black; 

$color-sidebar-bg: $theme-bg-2;
$color-sidebar-hover: $theme-bg-3;
$color-sidebar-selected-hover: $theme-bg-4;
$color-sidebar-active: $theme-bg-5;    

$color-logo:$color-text-unselected;


//PARAMETERS
//searchbar
$searchbar-width: 45%;
$searchbar-height:45px;
$searchbar-radius: 3px;
$searchbar-text-indent:10px;
$searchbar-text-size:20px;
$searchbar-opacity:100%;
$searchbar-textarea-opacity:70%;
$searchbar-placeholder-opacity:60%;
$searchbar-submit-icon-width:75%;
$searchbar-submit-icon-height:70%;
//sidebar
$sidebar-width: 250px;
$sidebar-height:100vh;
$sidebar-item-height:60px;
$sidebar-item-left-gap: 15px;
$sidebar-item-notch-width:3px;
$sidebar-item-notch-width-selected:5px;
$sidebar-item-icon-size: 40px; //TODO: Fix. sizing svg doesn't work as expected.
$sidebar-item-icon-color: $color-accent;
$sidebar-item-text-size: 16px;

//logo
$logo-width:100%;
$logo-height:80%;
$logo-opacity:50%;

*{
    border:none;
    padding: 0;
    margin: 0;
}

html{
    background-color: $color-bg;
    user-select: none;
}


//SIDEBAR
.sidebar-container{
    display: flex;
    position: absolute;
    z-index: 1;
    flex-wrap: wrap;
    align-items: flex-start;
    height: $sidebar-height;
    width: $sidebar-width;
    background-color: $color-sidebar-bg;
    align-content:flex-start;
    box-shadow: 10px 4px 5px -2px rgba(0,0,0,0.08);

    

    
    .sidebar-item{
        flex-basis:100%;
	    display: flex;
	    justify-content:left;    
        align-items: center;
        height: $sidebar-item-height;
        gap:$sidebar-item-left-gap;
        color: $color-text-unselected;


        .sidebar-item-notch {
            background-color:$color-sidebar-bg;
            height: 100%;
            flex-basis: $sidebar-item-notch-width;
        }

	    .sidebar-item-icon{
		fill: $sidebar-item-icon-color;
        stroke:$sidebar-item-icon-color;
        stroke-width: 0;
        width:$sidebar-item-icon-size;
        height: auto;
	    }

        h1{
            font-size: $sidebar-item-text-size;    
        }

    }

    .selected{
        background-color: $color-bg;
        color: $color-accent;
        
        .sidebar-item-notch {
            background: $color-accent;
            flex-basis: $sidebar-item-notch-width-selected;
        }

    }

    .selected:hover {
        background-color:$color-sidebar-selected-hover;
    }


    .sidebar-item:hover{
        background-color: $color-sidebar-hover;
    }
    
    .sidebar-item:active{
        background-color: $color-sidebar-active;
    }
}


////////////

//SEARCHBAR
.search-bar-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: $color-accent;
    opacity: $searchbar-opacity;


    input{
        background-color:$color-searchbar;
        flex-basis: $searchbar-width;
        height: $searchbar-height;
        text-indent: $searchbar-text-indent; 
        font-size: $searchbar-text-size;
        box-shadow: -4px 0px 20px 0.2px rgba(17, 17, 26, 0.18);
        border-radius: $searchbar-radius 0 0 $searchbar-radius;
        color:$color-text-unselected;
        opacity: $searchbar-textarea-opacity;
        user-select:text;
    }

    ::placeholder{
        color:$color-text-unselected;
        opacity: $searchbar-placeholder-opacity;
    }

    input:focus{
        outline: 0; //remove the default border when selected.
    }

    .submit-btn{
        width: $searchbar-height+10px;
        height: $searchbar-height;
        background-color: $color-accent;
        border-radius: 0 $searchbar-radius $searchbar-radius 0;
        box-shadow: -4px 0px 20px 0px rgba(17, 17, 26, 0.18); 
        
        .icon{
            width: $searchbar-submit-icon-width;
            height: $searchbar-submit-icon-height;
            fill: $color-searchbar-icon;
        }

    }
    
    .submit-btn:hover{
        background-color: $color-accent-hover;
    }

    .submit-btn:active{
        background-color: $color-accent-click;
    }

    
}
.logo{
    position: absolute;
    width: $logo-width;
    height: $logo-height;
    opacity: $logo-opacity;
    fill:$color-logo;
}
////////////
